.topbar-favorites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .favorites {
    flex-grow: 1;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
  }
  
  .library {
    margin-right: 3%;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
  }
  